@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


html,
body {
  margin: 0;
  padding: 0;
  background: #151521;
  font-family: Inter, Helvetica, "sans-serif";
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
::-webkit-scrollbar-track {
  background-color: #00c6ff;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
