@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


html, body {
    margin: 0;
    padding: 0;
    background: #151521; 
    font-family: Inter, Helvetica, "sans-serif";
}
